In [184]:
import pandas as pd

df1 = pd.read_csv("../../data/baby-weights-dataset.csv")
df1.shape

(101400, 37)

In [185]:
df1.head()

,ID,SEX,MARITAL,FAGE,GAINED,VISITS,MAGE,FEDUC,MEDUC,TOTALP,BDEAD,TERMS,LOUTCOME,WEEKS,RACEMOM,RACEDAD,HISPMOM,HISPDAD,CIGNUM,DRINKNUM,ANEMIA,CARDIAC,ACLUNG,DIABETES,HERPES,HYDRAM,HEMOGLOB,HYPERCH,HYPERPR,ECLAMP,CERVIX,PINFANT,PRETERM,RENAL,RHSEN,UTERINE,BWEIGHT
0,2001,2,1,33,26.0,10,34,12.0,4,2,0,0,1,35.0,1,1,M,M,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,4.3750
1,2002,2,2,19,40.0,10,18,11.0,12,1,0,0,9,41.0,1,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,6.9375
2,2003,2,1,33,16.0,14,31,16.0,16,2,0,0,1,39.0,1,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,8.5000
3,2004,1,1,25,40.0,15,28,12.0,12,3,0,0,1,38.0,8,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,8.5000
4,2005,1,2,21,60.0,13,20,12.0,14,2,0,0,1,40.0,2,2,N,N,0.0,0,0,0,0,0,0,0.0,0,0,1,0,0,0,0,0,0,0,9.0000

In [186]:
mapping = {'M': 1, 'N': 2, 'S': 3, 'P': 4, 'P': 5, 'U': 6, 'O': 7}

df1['HISPMOM'] = df1['HISPMOM'].map(mapping)
df1['HISPDAD'] = df1['HISPDAD'].map(mapping)

In [187]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101400 entries, 0 to 101399
Data columns (total 37 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ID        101400 non-null  int64
 1   SEX       101400 non-null  int64
 2   MARITAL   101400 non-null  int64
 3   FAGE      101400 non-null  int64
 4   GAINED    101399 non-null  float64
 5   VISITS    101400 non-null  int64
 6   MAGE      101400 non-null  int64
 7   FEDUC     101399 non-null  float64
 8   MEDUC     101400 non-null  int64
 9   TOTALP    101400 non-null  int64
 10  BDEAD     101400 non-null  int64
 11  TERMS     101400 non-null  int64
 12  LOUTCOME  101400 non-null  int64
 13  WEEKS     101399 non-null  float64
 14  RACEMOM   101400 non-null  int64
 15  RACEDAD   101400 non-null  int64
 16  HISPMOM   101215 non-null  float64
 17  HISPDAD   101214 non-null  float64
 18  CIGNUM    101399 non-null  float64
 19  DRINKNUM  101400 non-null  int64
 20  ANEMIA    101400 non-null  int64
 21  CARDIAC   101400 non-null  int64
 22  ACLUNG    101400 non-null  int64
 23  DIABETES  101400 non-null  int64
 24  HERPES    101400 non-null  int64
 25  HYDRAM    101399 non-null  float64
 26  HEMOGLOB  101400 non-null  int64
 27  HYPERCH   101400 non-null  int64
 28  HYPERPR   101400 non-null  int64
 29  ECLAMP    101400 non-null  int64
 30  CERVIX    101400 non-null  int64
 31  PINFANT   101400 non-null  int64
 32  PRETERM   101400 non-null  int64
 33  RENAL     101400 non-null  int64
 34  RHSEN     101400 non-null  int64
 35  UTERINE   101400 non-null  int64
 36  BWEIGHT   101400 non-null  float64
dtypes: float64(8), int64(29)
memory usage: 28.6 MB

In [188]:
df1.isna().sum()

ID            0
SEX           0
MARITAL       0
FAGE          0
GAINED        1
VISITS        0
MAGE          0
FEDUC         1
MEDUC         0
TOTALP        0
BDEAD         0
TERMS         0
LOUTCOME      0
WEEKS         1
RACEMOM       0
RACEDAD       0
HISPMOM     185
HISPDAD     186
CIGNUM        1
DRINKNUM      0
ANEMIA        0
CARDIAC       0
ACLUNG        0
DIABETES      0
HERPES        0
HYDRAM        1
HEMOGLOB      0
HYPERCH       0
HYPERPR       0
ECLAMP        0
CERVIX        0
PINFANT       0
PRETERM       0
RENAL         0
RHSEN         0
UTERINE       0
BWEIGHT       0
dtype: int64

In [189]:
df1 = df1.dropna()

In [190]:
df1.isna().sum()

ID          0
SEX         0
MARITAL     0
FAGE        0
GAINED      0
VISITS      0
MAGE        0
FEDUC       0
MEDUC       0
TOTALP      0
BDEAD       0
TERMS       0
LOUTCOME    0
WEEKS       0
RACEMOM     0
RACEDAD     0
HISPMOM     0
HISPDAD     0
CIGNUM      0
DRINKNUM    0
ANEMIA      0
CARDIAC     0
ACLUNG      0
DIABETES    0
HERPES      0
HYDRAM      0
HEMOGLOB    0
HYPERCH     0
HYPERPR     0
ECLAMP      0
CERVIX      0
PINFANT     0
PRETERM     0
RENAL       0
RHSEN       0
UTERINE     0
BWEIGHT     0
dtype: int64

In [231]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101062 entries, 0 to 101399
Data columns (total 37 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ID        101062 non-null  int64
 1   SEX       101062 non-null  int64
 2   MARITAL   101062 non-null  int64
 3   FAGE      101062 non-null  int64
 4   GAINED    101062 non-null  float64
 5   VISITS    101062 non-null  int64
 6   MAGE      101062 non-null  int64
 7   FEDUC     101062 non-null  float64
 8   MEDUC     101062 non-null  int64
 9   TOTALP    101062 non-null  int64
 10  BDEAD     101062 non-null  int64
 11  TERMS     101062 non-null  int64
 12  LOUTCOME  101062 non-null  int64
 13  WEEKS     101062 non-null  float64
 14  RACEMOM   101062 non-null  int64
 15  RACEDAD   101062 non-null  int64
 16  HISPMOM   101062 non-null  float64
 17  HISPDAD   101062 non-null  float64
 18  CIGNUM    101062 non-null  float64
 19  DRINKNUM  101062 non-null  int64
 20  ANEMIA    101062 non-null  int64
 21  CARDIAC   101062 non-null  int64
 22  ACLUNG    101062 non-null  int64
 23  DIABETES  101062 non-null  int64
 24  HERPES    101062 non-null  int64
 25  HYDRAM    101062 non-null  float64
 26  HEMOGLOB  101062 non-null  int64
 27  HYPERCH   101062 non-null  int64
 28  HYPERPR   101062 non-null  int64
 29  ECLAMP    101062 non-null  int64
 30  CERVIX    101062 non-null  int64
 31  PINFANT   101062 non-null  int64
 32  PRETERM   101062 non-null  int64
 33  RENAL     101062 non-null  int64
 34  RHSEN     101062 non-null  int64
 35  UTERINE   101062 non-null  int64
 36  BWEIGHT   101062 non-null  float64
dtypes: float64(8), int64(29)
memory usage: 29.3 MB

In [191]:
df2 = pd.read_csv("../../data/judge-without-labels.csv")
df2.shape

(2000, 124)

In [192]:
type(df2)

pandas.core.frame.DataFrame

In [193]:
df2.head()

,ID,INST,RPLACE,RCOUNTY,PLURAL,BDATE,BMONTH,BDAY,BYEAR,SEX,RACE,FAGE,MAGE,FEDUC,MEDUC,TOTALP,BDEAD,TERMS,LBDATE,LBMONTH,LBYEAR,LOUTCOME,WEEKS,PRENATAL,VISITS,WEIGHT,MARITAL,ATTEND,RECORD,CHILDREN,FDATE,FMONTH,FYEAR,RACEMOM,RACEDAD,HISPMOM,HISPDAD,CIGNUM,DRINKNUM,GAINED,ANEMIA,CARDIAC,ACLUNG,DIABETES,HERPES,HYDRAM,HEMOGLOB,HYPERCH,HYPERPR,ECLAMP,CERVIX,PINFANT,PRETERM,RENAL,RHSEN,UTERINE,OTHMED,AMNIO,MONITOR,INDUCT,STIMULA,TOCOLY,ULTRA,OTHPROC,FEBRILE,MECONIUM,RUPTURE,ABRUPTIO,PREVIA,BLEEDING,SEIZURES,PRECLAB,PROLAB,DYSLAB,BREECH,CEPHALO,PROLAPSE,ANESTH,DISTRESS,OTHLABOR,VAGINAL,VAGCSECT,PRCSECT,RECSECT,FORCEPS,VACUUM,KOTEL,ANENCEPH,SPINABIF,HYDROCEP,MICROCEP,OTHCNS,HEARTMAL,OTHCIRC,RECTALAT,FISTULA,OMPHALOC,OTHGAST,MALGEN,RANGENE,OTHURO,CLEFT,POLYDACT,CLUBFOOT,DHERNIA,OTHMS,DOWNS,OTHCHROM,OTHER,BCWEEKS,APGAR1,APGAR5,KESSNER,INFANTTR,MOTHERTR,IANEMIA,BINJURY,FAS,HYALINE,ASPIRATE,VENTLESS,VENTMORE,ISEIZURE,OTHINF
0,1,1,5400,54,1,3/25/08,3,25,2008,2,2,99,41,99,16,2,0,1,0,0,0,2,39,2,8,9,2,1,1,0,81991,8,1991,2,9,N,U,0,0,23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,38,6,9,2,2,2,0,0,0,0,0,0,0,0,0
1,2,1,4195,41,1,9/3/08,9,3,2008,1,2,99,21,99,9,2,0,0,22002,2,2002,1,37,2,15,6,2,1,1,1,0,0,0,2,9,N,U,2,0,35,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,38,9,9,1,2,2,0,0,0,0,0,0,0,0,0
2,3,1,8200,82,1,9/25/08,9,25,2008,1,1,24,23,10,6,3,0,0,72007,7,2007,1,39,2,10,6,2,1,1,2,0,0,0,1,1,S,M,0,0,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,39,9,10,1,2,2,0,0,0,0,0,0,0,0,0
3,4,1,4500,45,1,9/3/08,9,3,2008,1,8,22,26,14,14,5,0,4,0,0,0,9,40,2,13,6,2,1,1,0,0,0,0,8,1,N,N,0,0,22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,39,8,9,1,2,2,0,0,0,0,0,0,0,0,0
4,5,1,9200,92,1,8/22/08,8,22,2008,2,2,26,24,16,13,1,0,0,0,0,0,9,39,2,18,6,1,1,1,0,0,0,0,2,2,N,N,0,0,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,39,8,9,1,2,2,0,0,0,0,0,0,0,0,0

In [194]:
df2.shape

(2000, 124)

In [195]:
mapping = {'M': 1, 'N': 2, 'S': 3, 'P': 4, 'P': 5, 'U': 6, 'O': 7}

df2['HISPMOM'] = df2['HISPMOM'].map(mapping)
df2['HISPDAD'] = df2['HISPDAD'].map(mapping)

In [196]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Columns: 124 entries, ID to OTHINF
dtypes: float64(2), int64(121), object(1)
memory usage: 1.9+ MB

In [197]:
pd.set_option('display.max_columns', 150)  

null_values = df2.isnull().sum()

null_columns = null_values[null_values > 0]
print(null_columns)

HISPMOM    2
HISPDAD    4
dtype: int64

In [198]:
df2 = df2.dropna()

In [199]:
df2.isna().sum()

ID          0
INST        0
RPLACE      0
RCOUNTY     0
PLURAL      0
           ..
ASPIRATE    0
VENTLESS    0
VENTMORE    0
ISEIZURE    0
OTHINF      0
Length: 124, dtype: int64

In [200]:
df2.columns

Index(['ID', 'INST', 'RPLACE', 'RCOUNTY', 'PLURAL', 'BDATE', 'BMONTH', 'BDAY',
       'BYEAR', 'SEX',
       ...
       'MOTHERTR', 'IANEMIA', 'BINJURY', 'FAS', 'HYALINE', 'ASPIRATE',
       'VENTLESS', 'VENTMORE', 'ISEIZURE', 'OTHINF'],
      dtype='object', length=124)

In [201]:
columns = [
    'ID', 'SEX', 'MARITAL', 'FAGE', 'GAINED', 'VISITS', 'MAGE', 'FEDUC', 'MEDUC', 
    'TOTALP', 'BDEAD', 'TERMS', 'LOUTCOME', 'WEEKS', 'RACEMOM', 'RACEDAD', 
    'HISPMOM', 'HISPDAD', 'CIGNUM', 'DRINKNUM', 'ANEMIA', 'CARDIAC', 'ACLUNG', 
    'DIABETES', 'HERPES', 'HYDRAM', 'HEMOGLOB', 'HYPERCH', 'HYPERPR', 'ECLAMP', 
    'CERVIX', 'PINFANT', 'PRETERM', 'RENAL', 'RHSEN', 'UTERINE'
]

df2 = df2[columns]
df2.head()

,ID,SEX,MARITAL,FAGE,GAINED,VISITS,MAGE,FEDUC,MEDUC,TOTALP,BDEAD,TERMS,LOUTCOME,WEEKS,RACEMOM,RACEDAD,HISPMOM,HISPDAD,CIGNUM,DRINKNUM,ANEMIA,CARDIAC,ACLUNG,DIABETES,HERPES,HYDRAM,HEMOGLOB,HYPERCH,HYPERPR,ECLAMP,CERVIX,PINFANT,PRETERM,RENAL,RHSEN,UTERINE
0,1,2,2,99,23,8,41,99,16,2,0,1,2,39,2,9,2.0,6.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,1,2,99,35,15,21,99,9,2,0,0,1,37,2,9,2.0,6.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,3,1,2,24,25,10,23,10,6,3,0,0,1,39,1,1,3.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,1,2,22,22,13,26,14,14,5,0,4,9,40,8,1,2.0,2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2,1,26,25,18,24,16,13,1,0,0,9,39,2,2,2.0,2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [202]:
df2.shape

(1994, 36)

In [203]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1994 entries, 0 to 1999
Data columns (total 36 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        1994 non-null   int64
 1   SEX       1994 non-null   int64
 2   MARITAL   1994 non-null   int64
 3   FAGE      1994 non-null   int64
 4   GAINED    1994 non-null   int64
 5   VISITS    1994 non-null   int64
 6   MAGE      1994 non-null   int64
 7   FEDUC     1994 non-null   int64
 8   MEDUC     1994 non-null   int64
 9   TOTALP    1994 non-null   int64
 10  BDEAD     1994 non-null   int64
 11  TERMS     1994 non-null   int64
 12  LOUTCOME  1994 non-null   int64
 13  WEEKS     1994 non-null   int64
 14  RACEMOM   1994 non-null   int64
 15  RACEDAD   1994 non-null   int64
 16  HISPMOM   1994 non-null   float64
 17  HISPDAD   1994 non-null   float64
 18  CIGNUM    1994 non-null   int64
 19  DRINKNUM  1994 non-null   int64
 20  ANEMIA    1994 non-null   int64
 21  CARDIAC   1994 non-null   int64
 22  ACLUNG    1994 non-null   int64
 23  DIABETES  1994 non-null   int64
 24  HERPES    1994 non-null   int64
 25  HYDRAM    1994 non-null   int64
 26  HEMOGLOB  1994 non-null   int64
 27  HYPERCH   1994 non-null   int64
 28  HYPERPR   1994 non-null   int64
 29  ECLAMP    1994 non-null   int64
 30  CERVIX    1994 non-null   int64
 31  PINFANT   1994 non-null   int64
 32  PRETERM   1994 non-null   int64
 33  RENAL     1994 non-null   int64
 34  RHSEN     1994 non-null   int64
 35  UTERINE   1994 non-null   int64
dtypes: float64(2), int64(34)
memory usage: 576.4 KB

In [233]:
df1.to_csv('../../data/baby_weights_dataset_clean.csv', index=False)

In [205]:
df2.to_csv('../../data/judge-without-labels_clean.csv', index=False)